<div class="ui inverted large top fixed menu">
  <div class="ui container">
    {{link-to "Home" "index" class="item"}}
    {{link-to "Entries" "entries" class="item"}}
    <div class="right menu">
      <div class="item">
        <a class="ui inverted button">Log in</a>
      </div>
    </div>
  </div>
</div>


<div class="ui main container">
{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    {{#if flash.componentName}}
      {{component flash.componentName content=flash.content}}
    {{else}}
      <div class="ui {{flash.type}} floating message">
        <div data-test-flash-msg class="header">{{flash.message}}</div>
      </div>
    {{/if}}
  {{/flash-message}}
{{/each}}
<br>
{{outlet}}
</div>

