<form class="ui form {{if (and showInvalid validations.isInvalid) 'error' ''}}">
  <h4 class="ui dividing header">Entry</h4>
  <div class="field">
    <label>Link</label>
    <input
      data-test-link
      value={{link}}
      class="{{if (and showInvalid validations.attrs.link.isInvalid) 'error' ''}}"
      oninput={{action (mut link) value="target.value"}}>
  </div>
  {{#if (and showInvalid validations.attrs.link.message)}}
  <div data-test-link-error class="ui error message">
    <p>{{validations.attrs.link.message}}</p>
  </div>
  {{/if}}

  <div class="field">
    <label>Notes</label>
    <input
      value={{notes}}
      class="{{if validations.attrs.notes.isValid 'error' ''}}"
      oninput={{action (mut notes) value="target.value"}}>
  </div>
  {{#if (and showInvalid validations.attrs.notes.message)}}
  <div data-test-notes-error class="ui error message">
    <p>{{validations.attrs.notes.messages}}</p>
  </div>
  {{/if}}

  <div class="inline field">
    <div class="ui toggle checkbox">
      <input
        type="checkbox"
        class="hidden"
        tabindex="0"
        value={{archived}}
        oninput={{action (mut archived) value="target.value"}}>
      <label>Archived?</label>
    </div>
  </div>

  <div class="field">
    <label>Rating</label>
    {{ui-rating initialRating=rating maxRating=5 onRate=(action "rate")}}
  </div>

</form>
<h5>Tags</h5>
<div class="divider"></div>
{{tag-picker tags=tags add=(action "addTag") remove=(action "removeTag")}}
<br>
<br>
<button class="ui blue button" data-test-save-btn {{action "save"}}>Save</button>
