<div class="item">
  {{#if (eq filters.lastEntry entry.id)}}
    <a class="ui blue ribbon label">{{filters.lastEntryLabel}}</a>
  {{/if}}
  <div class="right floated content">
    <div class="ui two tiny buttons">
      <div class="ui basic red button" data-test-del-button  {{action "del"}}>{{t "delete"}}</div>
      {{link-to (t "edit") "entries.entry.edit" entry class="ui basic green button"}}
    </div>
    <br>
    <br>
    {{ui-rating rating=entry.rating maxRating=5 interactive=false}}
  </div>
  <i
    data-test-entry-archived
    data-archived="{{entry.archived}}"
    class="large {{if entry.archived 'archive' 'linkify'}} middle aligned icon"></i>
  <div class="content">
    <a class="header" href="{{entry.link}}" data-test-entry-link>{{entry.link}}</a>
    <div class="description" data-test-entry-notes>{{entry.notes}}</div>
    {{#each entry.tags as |tag|}}
      <a data-test-entry-tags class="ui tag small label">{{tag}}</a>
    {{else}}
      <div class="ui small red basic label">{{t 'tag.list.empty' }}</div>
    {{/each}}
  </div>
</div>
