{{#if entries}}
<div data-test-entries class="ui very relaxed divided large animated list">
  {{#with (sort-by sortBy (if showArchived entries (filter-by "archived" false entries))) as |filteredEntries|}}
    {{#if filters.lastEntry}} {{!--Put the new/last modified entry at the top of the list--}}
      {{#with (find-by 'id' filters.lastEntry filteredEntries) as |lastEntry|}}
        {{entry-list-item entry=lastEntry}}
        {{#each (without lastEntry filteredEntries) as |entry|}}
          {{entry-list-item entry=entry}}
        {{/each}}
      {{/with}}
    {{else}}
      {{#each filteredEntries as |entry|}}
        {{entry-list-item entry=entry}}
      {{/each}}
    {{/if}}
  {{/with}}
</div>
{{else}}
<div data-test-empty-message>{{t "entry.list.empty"}}</div>
{{/if}}
