{{link-to "New entry" "entries.new" class="ui purple basic button"}}


{{#if filters.lastEntry}}
<div class="ui purple basic button" {{action "clearHighlight"}}>clear highlight</div>
{{/if}}

<div data-test-toggle-archived class="ui purple basic button" {{action (pipe (action "clearHighlight") (toggle "showArchived" this))}}>
  {{if  showArchived "Hide archived" "Show archived"}}
</div>

{{entry-list entries=model showArchived=showArchived}}
