{{#each tags as |tag|}}
<a class="ui tag label" data-test-tag="{{tag}}">
  {{tag}}
  <i data-test-remove="{{tag}}" {{action "remove" tag}} class="delete icon"></i>
</a>
{{else}}
  <div data-test-empty-message class="ui small red basic label">{{t "tag.list.empty"}}</div>
{{/each}}

<br>
<br>

<div class="ui action input">
  <input
    data-test-add-tag-input
    class="{{if (and showValidations validations.isInvalid) 'error' ''}}"
    value={{newTag}}
    oninput={{action (mut newTag) value="target.value"}}>
  <button data-test-add-tag-btn {{action "add"}} class="ui right labeled icon button">
    <i class="plus icon"></i>
    Add tag
  </button>
</div>
{{#if showValidations}}
<div data-test-validation-msg class="ui error message">
  <p>{{validations.messages}}</p>
</div>
{{/if}}
